.content {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 8%;
}

.content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.content form {
    display: flex;
    flex-direction: column;
}

.content label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}

.content input[type="text"],
.content input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 16px;
}

.content button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e67e22;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content button:hover {
    background-color: #d35400;
}
.error-message-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
}
